.wysiwyg {
    p {
        display: block;
        margin: 1em 0;
    }
    b,strong,em {font-weight: bolder;}
    i {font-style: italic;}
    blockquote {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
        margin: 4em 0 2.5em 3em;
        padding-right: 2em;
        position: relative;
    }
    blockquote:before,
    blockquote:after {
        font-size: 400%;
        line-height: 0em;
        position: absolute;
        opacity: .5;
    }
    blockquote:before {content: "“";top: 0;left: -0.5em;}
    blockquote:after {content: "”";right: 0;bottom: -0.5em;}
    .aligncenter {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .alignright { float: right;margin-left: 15px; }
    .alignleft { float: left;margin-right: 15px; }
    h2 {font-size: 220%;font-weight: bold;margin-bottom: 1.3em;margin-top: 1.5em;}
    h3 {font-size: 200%;font-weight: bold;margin-bottom: 1.3em;margin-top: 1.5em;}
    h4 {font-size: 180%;margin-bottom: 1.2em;margin-top: 1.5em;}
    h5 {font-size: 160%;margin-bottom: 1.1em;font-weight: bold;margin-top: 1.5em;}
    h6 {margin-bottom: 1em;font-weight: bold;margin-top: 1.5em;}
    h2 {@extend .mod_tit01 !optional;}
    h3 {@extend .mod_tit02 !optional;}
    h4 {@extend .mod_tit03 !optional;}
    h5 {@extend .mod_tit04 !optional;}
    img {
        height: auto;
        max-width: 100%;
        margin-bottom: 1em;
    }
    table {
        width: 100%;
        border-top: 2px solid  #ddd;
        border-bottom: 1px solid  #ddd;
        th {
            border-bottom: 1px solid  #ddd;
        }
        td {
            border-bottom: 1px solid  #ddd;
        }
    }
    ul {
        margin: 1em 0px;
        li {
            position: relative;
            padding-left: 20px;
            &:before {
                content: "";
                position: absolute;
                left: 6px;
                top: 11px;
                @include mq(small, up) {top: 13px;}
                width: 5px;
                height: 5px;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAATklEQVQYV2NkgAIFBQUDEPPBgwcXQDSjgoKCwP///9czMDA4QNUcYGRkDGSUk5OrZ2RkbIDpBNH///9vYJSXl9+PpBomfwC3Dpx24HIVAE/DHrY0A+wNAAAAAElFTkSuQmCC");
                background-size: 5px;
            }
        }
    }
    ol {
        margin: 1em 0px;
        li {
            counter-increment: li;
            padding-left: 2em;
            text-indent: -2em;
            &:before{
                position: relative;
                content: "0"counter(li)". ";
                color: #94989f;
                font-weight: bold;
            }
            &:nth-child(n+10):before {
                content: ""counter(li)". ";
            }
            li:first-child {
                counter-reset: li;
            }
        }
    }
    ul ul,
    ol ol {margin: 0;}
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    pre {
        padding: 1em;
        background: #ddd;
    }
}
